@tailwind base;
@tailwind components;
@tailwind utilities;

/* react-big-calendar overrides */
.rbc-time-header .rbc-row-segment .rbc-event-content {
  white-space: normal;
}
.rbc-calendar .rbc-background-event,
.rbc-calendar .rbc-event {
  @apply w-fit border border-solid border-teal bg-teal/85;
}
.rbc-calendar .rbc-background-event:focus,
.rbc-calendar .rbc-event:focus {
  @apply outline-black;
}
.rbc-calendar .rbc-selected.rbc-background-event,
.rbc-calendar .rbc-selected.rbc-event {
  @apply bg-teal;
}
.rbc-calendar .rbc-today {
  background-color: transparent;
}
.rbc-calendar .rbc-current-time-indicator {
  @apply bg-teal/50;
}
.rbc-calendar .rbc-day-slot .rbc-event {
  @apply border-teal;
}

@layer base {
  :root {
    * {
      @apply border-border;
    }

    --teal: 186 54% 20%;
    --teal-light: 196 40% 88%;
    --primary: var(--teal);
    --primary-foreground: var(--teal-light);
  }

  body {
    @apply bg-[#f7f8f8] text-foreground;
  }
}
@layer components {
  .btn {
    @apply active: flex h-10 w-fit items-center overflow-hidden rounded bg-opacity-100 px-4 pb-2 pt-2.5 font-bold hover:bg-opacity-95;
  }
  .btn-teal {
    @apply btn bg-teal text-white;
  }
  .icon {
    @apply h-8 w-8 fill-current;
  }
  .checkbox-hover:hover button {
    @apply border-2 border-blue-600;
  }
}
@layer utilities {
  .animate-none {
    animation: none !important;
    transition: none !important;
  }
}

div.leaflet-container {
  font-family: inherit;
}
div.leaflet-container a {
  color: inherit;
}

/* Add these styles at the end of your globals.css file */
.rbc-time-view {
  --time-slot-height: 37.5px;
}

.rbc-timeslot-group {
  min-height: var(--time-slot-height) !important;
}

.rbc-time-slot {
  min-height: calc(var(--time-slot-height) / 2) !important;
}
